<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GNomes</title>
  <link rel="stylesheet" href="../../assets/css/posts/post.css">
  <link rel="stylesheet" href="../../assets/css/index.css">
  <script src="../../assets/js/follow.js" defer></script>
</head>
<body>
  <header>
    <div class="container top">
      <strong>GNomes</strong>
      <nav>
        <ul>
          <li><a href="../../index.html">Início</a></li>
          <li><a href="../gnomed.html">Gnomed</a></li>
          <li><a href="../contact.html">Contato</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="post-container">
    <article class="post-content">

      <h1 class="post-title">Onde Gnomos Moram?</h1>
      <p class="post-meta">Por Gnomo Violeta — 40 de Gnomembro de 20XX</p>

      <p>
        Os locais e casas mais populares que nós construímos e vivemos. Muitos pensam que vivemos somente em tocas, e isto na verdade está
        até que bem correto, entretanto é legal pensarmos que possuímos diferentes tipos de casas na verdade, e não só um buraco no chão. 
        Nós não só pensamos em diferentes maneiras de nos adaptarmos, como dependendo do gosto do gnomo, é bem provável que ele vá ter uma casa
        completamente diferente das duas que vou citar.
      </p>

      <h2>Casas na árvore</h2>
        <img src="../../assets/images/house/hometree.jpg" class="image-post">
        <p><i>Um ambiente arbóreo em meio a vida selvagem.</i></p>

      <p>
        Riachos, matos, animais, as casas nas árvores sempre são projetadas de forma a ter um maior contato em meio a floresta com o seu ecossistema.
        Normalmente, são construídas redes de casas em que nós consigamos viver, para que comumente, pudéssemos nos ajudar a viver, seja na coleta de 
        cogumelos, como construírmos cada vez mais áreas, como pontes, mais casas e enfim, diria que as nossas casas arbóreas são acompanhadas de uma vida
        livre e em bando.
      </p>

      <h2>Casas de Pedras</h2>
        <img src="../../assets/images/house/homerock.jpg" class="image-post">
       <p><i>Um ambiente rústico e definitivamente seguro.</i></p>
      <p>
        Gnomos isolados, como eu preferem as casas de pedras. Por se tratarem de lares extremamente seguros, e separados do ambiente comum, já que as casas 
        são construídas a partir das formações de rochas. Mas não é um problema, já que os cogumelos e diferentes vegetações se tornam possíveis de serem preservadas.
        Neste caso, nós sempre damos um jeito de viajar de tempos em tempos para nos encontrarmos com nosso povo, para tanto fazer trocas, quando para simplesmente receber
        notícias diferentes.
      </p>
      <br/>
      <p>
        Por hoje isto é tudo, mais uma vez, grande satisfação do Gnomo Violeta.
      </p>
    </article>
  </main>

  <footer>
    <div class="container">
      <span>&copy; 2025 — GNome dev Fabow</span>
      <span class="muted">Todos os direitos reservados a ninguém</span>
    </div>
  </footer>

  <div class="trail">
    <div class="follower"><img src="../../assets/images/followersGnomes/GnomePurple.png"></div>
    <div class="follower"><img src="../../assets/images/followersGnomes/GnomeRed.png"></div>
    <div class="follower"><img src="../../assets/images/followersGnomes/GnomeBlue.png"></div>
  </div>
</body>
</html>
