<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GNomes</title>
  <link rel="stylesheet" href="../../assets/css/posts/post.css">
  <link rel="stylesheet" href="../../assets/css/index.css">
  <script src="../../assets/js/follow.js" defer></script>
</head>
<body>
  <header>
    <div class="container top">
      <strong>GNomes</strong>
      <nav>
        <ul>
          <li><a href="../../index.html">Início</a></li>
          <li><a href="../gnomed.html">Gnomed</a></li>
          <li><a href="../contact.html">Contato</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="post-container">
    <article class="post-content">

      <h1 class="post-title">O que eles comem?</h1>
      <p class="post-meta">Por Gnomo Vermelho — 35 de Gnomembro de 20XX</p>

      <p>
        Hoje lhes trago diferentes informações novas sobre nós gnomos. Mais especificamente, sobre nossa alimentação e algumas recomendações.
        Nossa dieta é embasada naturalmente em diferentes pratos de cogumelos, ervas, e legumes, como cebolas, cenouras e entre outros.
      </p>
        
      <p>
        <i>A seguir vou começar a passar por alguns pratos cotidianos. Na ordem de desjejum, almoço, café da tarde e nossa querida janta.</i>
      </p>
      
      <h2>Cogumelos com Ovos e o que tiver</h2>
      <img src="../../assets/images/mushrooms/cogumelosEggs.webp" class="image-post">
      <p><i>Começar o dia daquele jeito.</i></p>
      <p>
        Nada como começar comendo aquele prato com tudo que podemos encontrar de bom. Geralmente pão, cogumelos, ovos, e alguma pasta.
        Tudo encaixa bem se estiver nivelado a nos deixar de bom humor e prontos para começar nossos afazeres, que envolvem, bem, isto acho que cabe em outro post.
      </p>

      <h2>Panquecas ao molho de tomate</h2>
      <img src="../../assets/images/mushrooms/panquecas.jpg" class="image-post">
      <p><i>Uma das melhores maravilhas já criadas por gnomos.</i></p>
      <p>
        Quando chegaram, não sairam da boca do nosso povo. Panquecas são incríveis, da para rechear com tudo que nós imaginamos. Mas a combinação perfeita continua sendo:
        Panquecas com molho de tomate e muito queijo. Creio que uma refeição com algumas delas possa até mesmo levar um gnomo a imortalidade, agora se isto é real, não tenho ideia.
      </p>

      <h2>Bolo de cenoura</h2>
      <img src="../../assets/images/mushrooms/boloDeCenoura.webp" class="image-post">
      <p><i>Para uma tarde maravilhosa, o néctar dos gnomos precisa ser apreciado.</i></p>
      <p>
        Um bolo de cenoura com uma calda magnífica de chocolate, como isto pode soar errado? Apenas o soar destas palavras em conjunto causa uma satisfação,
        um deleite nos ouvidos de todos gnomos presentes, uma perfeição imaginativa e concebida pelas mãos dos padeiros da nossa vila.
      </p>

      <h2>Sopa de cogumelos</h2>
      <img src="../../assets/images/mushrooms/sopa.jpg" class="image-post">
      <p><i>Finalizar uma janta suave e clássica.</i></p>
      <p>
        Uma sopa de cogumelos para terminar seu dia, é um clássico dos clássicos. Dizem que no início dos tempos, quando gnomos ainda eram nômades, eles se juntavam
        ao redor de uma fogueira para se deliciar com uma sopinha de cogumelos coletados ao longo do dia. Mas lembre-se <bold>NUNCA JAMAIS COMA OS VERMELHOS</bold> 
        meu tio Mariano cresceu muito comendo um e nunca mais pode entrar em sua própria toca. Mas tirando isto, você consegue dormir leve, pronto para uma ótima noite
        de sono após uma sopinha. 
      </p>
      <br/>
      <p>
        Enfim, este foi meu relato sobre nosso dia a dia e nossas comidas clássicas em cada um dos momentos de nosso dia. Espero que tenha sido informativo! Leia
        mais posts do seu Gnomo Vermelho.
      </p>
    </article>
  </main>

  <footer>
    <div class="container">
      <span>&copy; 2025 — GNome dev Fabow</span>
      <span class="muted">Todos os direitos reservados a ninguém</span>
    </div>
  </footer>

  <div class="trail">
    <div class="follower"><img src="../../assets/images/followersGnomes/GnomeRed.png"></div>
    <div class="follower"><img src="../../assets/images/followersGnomes/GnomePurple.png"></div>
    <div class="follower"><img src="../../assets/images/followersGnomes/GnomeBlue.png"></div>
  </div>
</body>
</html>
