<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>GNomes</title>
<link rel="stylesheet" href="../assets/css/contact.css">
<script src="../assets/js/contact.js" defer/></script>
</head>
<body>
  <header>
    <div class="container top">
      <strong>Contato</strong>
      <nav>
        <ul>
          <li><a href="../index.html">Início</a></li>
          <li><a href="gnomed.html">Gnomed</a></li>
          <li><a href="contact.html">Contato</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="contact">
    <main class="grid">
      <section class="contato">
        <h2>Tente contatar o gnomo</h2>
        <p>Não, os contatos abaixo não são falsos.</p>

        <div class="contato-info">
          <p><strong>Email:</strong> ognomodejardim@gnomo.com</p>
          <p><strong>Telefone:</strong>+41 (032) 863 87 85</p>
        </div>
      </section>
    </main>
    <div class="image-wrapper">
      <a href="https://www.youtube.com/watch?v=6n3pFFPSlW4" target="blank">
        <img src="../assets/images/phone.png" class="phone-img">
      </a>
    </div>

    <div class="mini-recommend" id="miniRecommend">
      <img src="../assets/images/mushroom.png" class="img-small">
      <div class="big-wrapper">
        <a href="https://slothbytes.beehiiv.com/" target="blank" class="big-link">
          <img src="../assets/images/sloth.png" class="img-large">
          <span class="msg">recomendo muito esse cara</span>
        </a>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <span>&copy; 2025 — GNome dev Fabow</span>
      <span class="muted">Todos os direitos reservados a ninguém</span>
    </div>
  </footer>
</body>
</html>
