main{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100vw;
  height:100vh;
}


.gnomed-container{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-top:40px; 
  padding-bottom:40px
}


.gnomed-box{
  width:340px;
  height:340px;
  background:white;
  border-radius:18px;
  border:3px solid black;
  background-color: #5D473A;
  display:flex;
  align-items:center;
  justify-content:center;
  position:relative;
  overflow:hidden;
  box-shadow:0 6px 20px rgba(0,0,0,.12)
}

#gnome{
  width:75%;
  image-rendering: pixelated;
  height:auto;
  pointer-events:none;
  user-select:none;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  transition:transform .25s ease,opacity .2s ease;
  z-index:2
}

.ghost-gnome{
  image-rendering: pixelated;
  position:fixed;
  left:0;top:0;
  transform:translate(-50%,-50%);
  pointer-events:none;
  z-index:11;
  width:255px;
  height:auto;
  will-change:left,top
}

.ghost-fall{
  animation:fall 1s ease forwards
}

@keyframes fall{
  0% { transform: translate(-50%, -50%) translateY(0) rotate(0deg); opacity: 1; }
  100% { transform: translate(-50%, -50%) translateY(300px) rotate(40deg); opacity: 0; }
}


.dialogo{
  margin-top:24px;
  padding:10px 14px;
  font-size:18px;
  background:var(--neutral-color);
  border-radius:10px;
  border:2px solid var(--neutral-bold);
  color:var(--neutral-bold);
  text-align:center;
  max-width:600px;
  display:inline-block;
  min-height:30px
}

